//Background
$top-bar-bg: rgb(240, 120, 16);
$bottom-bar-bg: rgb(21, 20, 20);
$discount-bg: red;
$sustain-bg: green;
$heart-bg: white;


//Text colors
$top-bottom-menu: white;
$heart-hover: red;
$new-price: red;

